/*
span.tooltip{
    line-height: 1.5;
    color: white;
    width: 200px;
    background: #ff9900;
    border: 2px solid white;
    padding: 1em;
    font-size: small;
}
*/

div.tooltip{
    width: 230px;
    position: absolute;
}

div.tooltip p{
    line-height: 1.5;
    margin: 0;
    font-size: small;
    background: url("images/photo2.jpg") top right;
    padding: 10px 5px 0 40px;
}

div.tooltip img{
    vertical-align: top;
}