/*
table{
    margin: 100px auto;
}

tr:nth-child(even){
    background: #f2f2f2;
}

th{
    background: #222222;
    color: white;
}

th:nth-child(odd){
    background: #444444;
}

th,td{
    padding: 5px;
    font-size: small;
}
*/

/*
table{
    margin: 100px auto;
}

tr.even{
    background: #f2f2f2;
}

th{
    background: #222222;
    color: white;
}

th.odd{
    background: #444444;
}

th, td{
    padding: 5px;
    font-size: small;
}
*/

table{
    margin: 100px auto;
}

.odd{
    background: #444444;
}
